<!doctype html>
<html>
<head>

<meta charset="utf-8" />
<title>Agendar cita médica</title>

    <script type= "text/javascript"src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type= "text/javascript"src="http://www.jonthornton.com/jquery-timepicker/dist/jquery.timepicker.js"></script>
    <link rel="stylesheet" href="http://www.jonthornton.com/jquery-timepicker/dist/jquery.timepicker.css">


    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

</head>

<body>


<p id = "calendarioP"> Selecciona el día para la cita: </p>
<input type="text" id="datepicker"/>

<p id = "medicoP">Selecciona el médico que desees. Saldrán los médicos disponibles ese día de la semana</p>
<p></p>

<select id="MedicosDisponibles">
</select>

<p></p>
<p id="msg"></p>
<p></p>
<p id = "horaP"> Selecciona la hora de tu cita: </p>
<p></p>
<input type="text" id="disableTimeRangesExample"/>

<p></p>
<p id = "MsgS"> Ingrese la cédula del paciente </p>
<p></p>
<input id= "cedula_paciente"></input>

<p></p>
<button id="siguienteUno"> Siguiente </button>
<button id="siguienteDos"> Siguiente </button>

<form method="post" action="{{ url_for('irInicio') }}">
    <button id="agendar"> Agendar cita médica </button>
</form>

<script type="text/javascript">

    var horarios_psicologos = {{horarios_psicologos|tojson|safe}};
    for(var i = 0;i<horarios_psicologos.length;i++){
        console.log(horarios_psicologos[i]);
    }

    var citas_agendadas = {{citas_agendadas|tojson|safe}};
    for(var i = 0;i<citas_agendadas.length;i++){
        console.log(citas_agendadas[i]);
    }

    var paciente = {{paciente|tojson|safe}};
    console.log(paciente);

    var dias = []
    var horas = []
    var medicos_disponibles_dia_select = [];
    var medico_select;
    var horaSelect;
    var diaSelect;
    var cedula_medico_select;
    var horaMin;
    var horaMax;
    var horasCitasDiaSelect = []

    document.getElementById('medicoP').style.display = 'none';
    document.getElementById('MedicosDisponibles').style.display = 'none';
    document.getElementById('horaP').style.display = 'none';
    document.getElementById('disableTimeRangesExample').style.display = 'none';
    document.getElementById('siguienteDos').style.display = 'none';
    document.getElementById('agendar').style.display = 'none';
    document.getElementById('msg').style.display = 'none';
    document.getElementById('MsgS').style.display = 'none';
    document.getElementById('cedula_paciente').style.display = 'none';

    //Convierto los días y las horas de string a array. El día [0] tiene como horario la posición [0]
    for(var i = 0;i < horarios_psicologos.length;i++){
        dias.push(horarios_psicologos[i].dias.split(","));
        horas.push(horarios_psicologos[i].horas.split(","));
    }

    //Se crea el calendario.
    $(function () {
        $.datepicker.setDefaults($.datepicker.regional["es"]);
        $("#datepicker").datepicker({
            firstDay: 1,
            dateFormat: 'DD, d, M, yy'
        });
    });


    //Botón uno-----------------------------------------------------------------
    document.getElementById('siguienteUno').addEventListener('click',(event) => {

        //Toma el día ingresado por el usuario
        diaSelect = document.getElementById('datepicker').value.split(",");
        diaSelect[1] = parseInt(diaSelect[1].trim());
        console.log(diaSelect);

        //Verifico que el día (lunes - martes) sea igual al que se escogio, y cuales médicos están disponibles ese día de la semana.
        //Guardo los médicos disponibles para el día del a semanaq que se escogio
        for(var i = 0;i <dias.length; i++){
            for(var x = 0;x <dias[i].length; x++){
                console.log(dias[i][x]);
                if(dias[i][x]==diaSelect[0]){
                    console.log("Médico disponible = " + horarios_psicologos[i].nombre_psicologo + " y su horario es: " + horas[i][x]);
                    medicos_disponibles_dia_select.push(horarios_psicologos[i].nombre_psicologo);
                }
            }
        }

        //Oculto y muestro los elementos necesarios
        document.getElementById('siguienteUno').style.display = 'none';
        document.getElementById('calendarioP').style.display = 'none';
        document.getElementById('datepicker').style.display = 'none';
        document.getElementById('medicoP').style.display = 'inline';
        document.getElementById('MedicosDisponibles').style.display = 'inline';
        document.getElementById('siguienteDos').style.display = 'inline';

        //Creo la barra de selección con los médicos disponibles ese día
        for(var i =0;i<medicos_disponibles_dia_select.length;i++){
            var option = document.createElement("option");
            var nombre_medico = document.createTextNode(medicos_disponibles_dia_select[i]);
            option.appendChild(nombre_medico);
            var contenedor = document.getElementById("MedicosDisponibles");
            contenedor.appendChild(option);
        }
        
    });


    //Botón dos-----------------------------------------------------------------
    document.getElementById('siguienteDos').addEventListener('click',(event) => {

        //Medico seleccionado
        var e = document.getElementById("MedicosDisponibles");
        medico_select = e.options[e.selectedIndex].text;

        console.log(diaSelect);
    
        for(var i = 0;i <citas_agendadas.length;i++){
            var k = citas_agendadas[i].diaCalendar.split(" ");
            console.log(k);
            if(k[1]==diaSelect[1] && k[2]==diaSelect[2].trim() && k[3]==diaSelect[3].trim()){
                if(citas_agendadas[i].nombre_psicologo == medico_select){
                    console.log("Cita con el médico " + citas_agendadas[i].nombre_psicologo +" para ese día a la hora= " + citas_agendadas[i].hora);
                    horasCitasDiaSelect.push(citas_agendadas[i].hora);
                }
            }
        }
        console.log("Citas de ese día " + horasCitasDiaSelect.length);
        if(horasCitasDiaSelect.length != 0){
            var contenedor = document.getElementById('msg');
            var mensajeP = document.createElement("p");
            var mensaje = document.createTextNode("Para el día " + document.getElementById('datepicker').value + " las cita asignadas con el médico " + medico_select +" son: ");
            mensajeP.appendChild(mensaje);
            contenedor.appendChild(mensajeP);

            var horasP = document.createElement("p");
        
            var mensajeHoras = document.createTextNode(horasCitasDiaSelect.join(' - '));
            horasP.appendChild(mensajeHoras);
            contenedor.appendChild(horasP);
        }else{
            var contenedor = document.getElementById('msg');
            var mensajeP = document.createElement("p");
            var mensaje = document.createTextNode("Para el día " + document.getElementById('datepicker').value + " el médico " + medico_select +" tiene agenda totalmente libre ");
            mensajeP.appendChild(mensaje);
            contenedor.appendChild(mensajeP);
        }
        

        
        for(var i = 0;i <dias.length; i++){
            for(var x = 0;x <dias[i].length; x++){
                if(dias[i][x]==diaSelect[0]){
                    if(horarios_psicologos[i].nombre_psicologo == medico_select){
                        console.log("Médico escogido = " + horarios_psicologos[i].nombre_psicologo + " y su horario es: " + horas[i][x] + " la cedula del médico es= " + horarios_psicologos[i].cedula_psicologo);
                        var array = horas[i][x].split(" - ");
                        horaMin = array[0];
                        horaMax = array[1];
                        cedula_medico_select = horarios_psicologos[i].cedula_psicologo;
                    }
                }
            }
        }

        $('#disableTimeRangesExample').timepicker({
            timeFormat: 'H:i',
            interval: 30,
            minTime: horaMin,
            maxTime: horaMax,
            dynamic: false,
            dropdown: true,
            scrollbar: false,
        });

        document.getElementById('msg').style.display = 'inline';    
        document.getElementById('agendar').style.display = 'inline';
        document.getElementById('horaP').style.display = 'inline';
        document.getElementById('disableTimeRangesExample').style.display = 'inline';
        document.getElementById('medicoP').style.display = 'none';
        document.getElementById('MedicosDisponibles').style.display = 'none';
        document.getElementById('siguienteDos').style.display = 'none';

    });

    //Botón tres-----------------------------------------------------------------
    document.getElementById('agendar').addEventListener('click',(event) => {
        var enviar;
        
        horaSelect = document.getElementById('disableTimeRangesExample').value;
        console.log("hora seleccionada = " + horaSelect);
        console.log("día seleccionado = " + diaSelect);
        console.log("médico seleccionado = " + medico_select);
        console.log("cedula médico = " + cedula_medico_select)
        
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function(){
        if (this.status == 200){
                console.log("petición enviada con exito");
            }
        };

        var p = new FormData();


        enviar = true;
        for(var i =0;i<horasCitasDiaSelect.length;i++){
            if(document.getElementById('disableTimeRangesExample').value == horasCitasDiaSelect[i]){
                alert("A esa hora, el médico "+ medico_select + " ya tiene una cita asignada. Vuelve a seleccionar otra hora");
                enviar = false;
            }
        }   

        if(enviar == true){
            p.append('dia',diaSelect);
            p.append('hora',horaSelect);
            p.append('cedula_psicologo',cedula_medico_select);
            xhttp.open("POST","/agendarCitaPsicologo",true);
            xhttp.send(p);
        }
    
        
        
    });

</script>

</body>

</html>