<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta id="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Psicologo(a)</title>
</head>
<body>

  <p> Ingrese el nombre del psicologo <p>
  <p><input id="nombre" type="text"></p>
  <p> Ingresa la cedula del psicologo </p>
  <p><input id="cedula" type="text"></p>
  <p>Ingresa la contraseña del psicologo</p>
  <input id="password" type="password" size=15 name="clave" onkeyup="muestra_seguridad_clave(this.value)">
  <i> Grado de seguridad:</i> <input id="seguridad" type="text" value = "0 %"></input>
  <p> Ingresa la correo del psicologo </p>
  <p><input id="correo" type="text"></p>

  <table class="egt">
    <tr>
      <th scope="row">Día</th>
      
      <th>Lunes</th>
        <th>Martes</th>
        <th>Miercoles</th>
        <th>Jueves</th>
        <th>Viernes</th>
        <th>Sabado</th>
        <th>Domingo</th>
      </tr>
      
      <tr>
      
        <th>Selecciona --></th>
        <td><input type="checkbox" id="LunesBox"></td>
        <td><input type="checkbox" id="MartesBox" ></td>
        <td><input type="checkbox" id="MiercolesBox" ></td>
        <td><input type="checkbox" id="JuevesBox" ></td>
        <td><input type="checkbox" id="ViernesBox" ></td>
        <td><input type="checkbox" id="SabadoBox" ></td>
        <td><input type="checkbox" id="DomingoBox" ></td>
      
      </tr>
      
      <tr>
      
        <th>Horario del día</th>
        <td>
          <select id="LunesList">
            <option value="1">6:00 - 14:00</option> 
            <option value="2">14:00 - 18:00</option> 
            <option value="3">6:00 - 18:00</option>
          </select>
        </td>

        <td>
          <select id="MartesList">
            <option value="1">6:00 - 14:00</option> 
            <option value="2">14:00 - 18:00</option> 
            <option value="3">6:00 - 18:00</option>
          </select>
        </td>

        <td>
          <select id="MiercolesList">
            <option value="1">6:00 - 14:00</option> 
            <option value="2">14:00 - 18:00</option> 
            <option value="3">6:00 - 18:00</option>
          </select>
        </td>

        <td>
          <select id="JuevesList">
            <option value="1">6:00 - 14:00</option> 
            <option value="2">14:00 - 18:00</option> 
            <option value="3">6:00 - 18:00</option>
          </select>
        </td>

        <td>
          <select id="ViernesList">
            <option value="1">6:00 - 14:00</option> 
            <option value="2">14:00 - 18:00</option> 
            <option value="3">6:00 - 18:00</option>
          </select>
        </td>

        <td>
          <select id="SabadoList">
            <option value="1">6:00 - 14:00</option> 
            <option value="2">14:00 - 18:00</option> 
            <option value="3">6:00 - 18:00</option>
          </select>
        </td>
        
        <td>
          <select id="DomingoList">
            <option value="1">6:00 - 14:00</option> 
            <option value="2">14:00 - 18:00</option> 
            <option value="3">6:00 - 18:00</option>
          </select>
        </td>
      
      </tr>

  </table>
  
  <p></p>
  <form method="post" action="{{ url_for('irLogin') }}">
    <button id = "registrar">Registrar</button>
  </form>

    <script>
        
        function muestra_seguridad_clave(clave){
            seguridad=seguridad_clave(clave);
            console.log(seguridad);
            document.getElementById("seguridad").value = seguridad + " %";
        }

        function seguridad_clave(clave){
        var seguridad = 0;
        if (clave.length!=0){

            console.log(tiene_numeros(clave));
            console.log(tiene_minusculas_mayusculas(clave));

            if (tiene_numeros(clave) == '2'){
                seguridad += 30;
                console.log("tiene numeros");
            }
            if (tiene_minusculas_mayusculas(clave) == '2'){
                seguridad += 30;
                console.log("tiene minusculas o mayusculas");
            }
            if(tiene_numeros(clave) == -1 && tiene_minusculas_mayusculas(clave) == -1){
                seguridad += 60;
                console.log("tiene letras y numeros");
            }
            if (clave.length >= 6 && clave.length <= 8){
                seguridad += 10;
                console.log("está entre 6 y 8");
            }else{
                if (clave.length >= 8 && clave.length <= 12){
                    seguridad += 30;
                    console.log("está entre 8 y 12");
                }else{
                    if (clave.length > 12){
                        seguridad += 40;
                        console.log("más de 12");
                    }
                }
            }
        }
            return seguridad            
        }   

        function tiene_numeros(texto){
            words = String(texto).trim();
            const regxs = {
                "lower": /^[0-9 ]+$/,
                "upper": /^[A-Z0-9 ]+$/,
                "upperLower": /^[A-Za-z ]+$/
            }
            if (regxs.lower.test(words)) return '2';
            return -1;
        }

        function tiene_minusculas_mayusculas(texto){
            words = String(texto).trim();
            const regxs = {
                "lower": /^[a-z0-9 ]+$/,
                "upper": /^[A-Z0-9 ]+$/,
                "upperLower": /^[A-Za-z ]+$/
            }
            if (regxs.upperLower.test(words)) return '2';
            return -1;
        }

        document.getElementById('registrar').addEventListener('click',(event) => {
            var dias = [];
            var horas = [];
            
            if(document.getElementById('password').value.length < 12){
              alert('Tu contraseña debe superar los 12 caracteres');
            }else{

              if(document.getElementById("LunesBox").checked == true){
                dias.push("Monday");
                var e = document.getElementById("LunesList");
                var strUser = e.options[e.selectedIndex].text;
                horas.push(strUser);
              }
              if(document.getElementById("MartesBox").checked == true){
                dias.push("Tuesday");
                var e = document.getElementById("MartesList");
                var strUser = e.options[e.selectedIndex].text;
                horas.push(strUser);
            }
              if(document.getElementById("MiercolesBox").checked == true){
                dias.push("Wednesday");
                var e = document.getElementById("MiercolesList");
                var strUser = e.options[e.selectedIndex].text;
                horas.push(strUser);
            }
              if(document.getElementById("JuevesBox").checked == true){
                dias.push("Thursday");
                var e = document.getElementById("JuevesList");
                var strUser = e.options[e.selectedIndex].text;
                horas.push(strUser);
            }
              if(document.getElementById("ViernesBox").checked == true){
                dias.push("Friday");
                var e = document.getElementById("ViernesList");
                var strUser = e.options[e.selectedIndex].text;
                horas.push(strUser);
            }
              if(document.getElementById("SabadoBox").checked == true){
                dias.push("Saturday");
                var e = document.getElementById("SabadoList");
                var strUser = e.options[e.selectedIndex].text;
                horas.push(strUser);
            }
              if(document.getElementById("DomingoBox").checked == true){
                dias.push("Sunday");
                var e = document.getElementById("DomingoList");
                var strUser = e.options[e.selectedIndex].text;
                horas.push(strUser);
            }
            
              console.log(dias);
              console.log(horas);

              var xhttp = new XMLHttpRequest();
              xhttp.onreadystatechange = function(){
                  if (this.status == 200){
                      console.log("petición enviada con exito");
                  }
              };
        
              var p = new FormData();
              p.append('nombre',document.getElementById("nombre").value);
              p.append('cedula',document.getElementById("cedula").value);
              p.append('contraseña',document.getElementById("password").value);
              p.append('correo',document.getElementById("correo").value);
              p.append('dias',dias);
              p.append('horas',horas);
              xhttp.open("POST","/registroPsicologo",true);
              xhttp.send(p);

            }
        });
    </script>
</body>
</html>